@import 'styles/variables.scss';

.TeamMatches {
	display: inline-flex;
	flex-direction: column;
	background: #222;
	overflow: auto;

	h2 {
		margin: .5em 0;
	}

	.goBack {
		position: absolute;
		top: 1em;
		right: 2em;
		cursor: pointer;
		font-style: italic;

		&::before {
			content: '← ';
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.table {
		@include table;

		tr {
			th {
				&:nth-child(3) {
					text-align: left;
				}
			}

			td {
				&:nth-child(3) {
					text-align: left;
					cursor: default !important;

					&:hover {
						text-decoration: none !important;
					}
				}
			}
		}
	}
}
