@import 'styles/variables.scss';

.Tournament {
	--frameColor: #222;
	--textColor: white;

	display: inline-flex;
	flex-direction: column;
	padding: 1em;
	border-radius: 10px;
	position: relative;
	overflow: auto;
	max-height: 90vh;
	width: 80vw;
	max-width: 1000px;
	background: var(--frameColor);
	color: var(--textColor);

	header {
		display: flex;

		select {
			margin-right: .5em;
			margin-bottom: .5em;
			border: none;
			font-size: 1.5em;
			width: 280px;
			background: var(--frameColor);
			color: var(--textColor);

			@media(max-width: 1000px) {
				font-size: 1.2em;
				width: 180px;
			}
		}

		p {
			color: #999;
			margin-top: 2px;
			margin-right: .5em;

			@media(max-width: 800px) {
				display: none;
			}
		}
	}

	img {
		@media(max-width: 1000px) {
			width: 30px;
			object-fit: contain;
		}
	}

	.table {
		@include table;
		
		thead {
			tr {
				th {
					span {
						@media(max-width: 1000px) {
							display: none;
						}
					}
				}
			}
		}

		tbody, thead {
			tr {
				td, th {
					&:nth-child(3) {
						@media(max-width: 1000px) {
							display: none;
						}
					}
				}
			}
		}
	}
}
