@import 'styles/variables.scss';

.Tournament {
	display: inline-flex;
	flex-direction: column;
	background: #eee;
	padding: 1em;
	border-radius: 10px;
	position: relative;
	overflow: auto;
	max-height: 90vh;
	width: 80vw;
	max-width: 1000px;

	.table {
		@include table;
	}
}