.Home {
	background: lightgray;
	padding: 1em;
	border-radius: 10px;
	width: auto;
	position: relative;
	height: 80vh;
	overflow-y: auto;
	overflow-x: hidden;

	table {
		border: solid 1px #aaa;
		border-radius: 10px;
		background: white;

		thead {
			tr {
				text-align: left;
				background-color: #ddd;
			}
		}

		thead, tbody {
			tr {
				th, td {
					text-align: right;
					padding: .3em;
					padding-right: 1.5em;
					white-space: nowrap;

					&:first-child {
						text-align: left;
						cursor: pointer;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				&:nth-child(even) {
					background: #eee;
				}
			}
		}
	}
}