.TeamMatches {
	background: #eee;
	padding: 1em;

	.goBack {
		position: absolute;
		right: 2em;
		cursor: pointer;

		&::before {
			content: '< ';
		}

		&:hover {
			text-decoration: underline;
		}
	}

	table {
		background: white;
		text-align: left;
		border-collapse: collapse;

		thead, tbody {
			tr {
				
				th, td {
					padding: .3em;
					padding-right: 1em;
					border: solid 1px #ddd;
				}
			}
		}
	}
}