@import 'styles/variables.scss';

.TeamMatches {
	display: inline-flex;
	flex-direction: column;
	background: #eee;
	padding: 1em;
	overflow: auto;

	.goBack {
		position: absolute;
		top: 1em;
		right: 2em;
		cursor: pointer;
		font-style: italic;

		&::before {
			content: '← ';
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.table {
		@include table;

		tr {
			th {
				&:nth-child(3) {
					text-align: left;
				}
			}
		}
	}
}